body {
  background-image: url("https://img.freepik.com/free-photo/beautiful-shot-rippling-crystal-blue-water-background_181624-1440.jpg?w=740&t=st=1694302610~exp=1694303210~hmac=a82d1899b17ecfd3efba1abc3de170a830104abe7413a2c91ea4e5695f4dbcce");
  opacity: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  border-style: outset;
  text-align: center;
  font-size: 40px;
  text-shadow: 5px 2px 10px rgb(255, 0, 47);
}

div {
  border-style: outset;
  text-shadow: 2px 2px 2px rgb(226, 106, 106);
  font-size: 25px;
}

h1 {
  border-style: outset;
  font-size: 35px;
  text-shadow: 2px 2px 4px rgb(251, 60, 60);
  border-radius: 20%;
}
h2 {
  text-shadow: 2px 2px 5px rgb(145, 23, 23);
  font-size: 35px;
  border-style: outset;
  border-radius: 20%;
}
.Education {
  border-top-right-radius: 40%;
  box-shadow: 2px 3px 4px red;
  width: 100px;
  height: 50px;

  border-style: outset;
}

.Home {
  border-top-right-radius: 40%;
  box-shadow: 2px 3px 4px red;
  width: 100px;
  height: 50px;
}

.Work {
  border-top-right-radius: 40%;
  box-shadow: 2px 3px 4px red;
  width: 100px;
  height: 50px;
}
.Language {
  border-top-right-radius: 40%;
  box-shadow: 2px 3px 4px red;
  width: 100px;
  height: 50px;
}

img {
  border-radius: 50%;
  width: 310px;
}

.info {
  text-align: center;
  text-shadow: 5px 2px 10px rgb(255, 0, 47);
  font-size: 20px;
}
section {
  text-align: center;
  text-shadow: 5px 2px 10px rgb(255, 0, 47);
  font-size: 20px;
}
.email {
  text-align: center;
  border-style: outset;
  border-radius: 20%;
}

.school {
  text-size-adjust: 30px;
  border-style: outset;
  border-radius: 20px;
}

.phone {
  border-style: outset;
  border-radius: 20%;
}
