/* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
  font-size: 2vw;
}
#allpage {
  display: flex;
  flex-direction: row;
}*/
body {
  border: 1px solid white;
  background-color: blueviolet;
  font-family: sans-serif;
}
img.MyFOTO {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.info h1 {
  background-color: transparent;
  color: white;
  width: fit-content;
  margin-left: 25px;
  padding: 5px;
  font-size: 20px;
}
.education {
  background-color: bisque;
  border-style: solid;
}
.work {
  background-color: bisque;
  border-style: solid;
}

.divs {
  background-color: transparent;
  font-size: 23px;
  color: aliceblue;
  padding: 10px;
  margin: 10px;

  border: 1px solid white;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: blueviolet;
}
a {
  color: white;
}
footer {
  color: white;
  font-size: 20px;
}
section {
  display: flex;

  justify-content: space-around;
}
